div.box-one{
background-color: aqua;
padding: 20px;
border: 5px solid burlywood;
margin: 25px;
margin-left: 75px;
height: 105px;
width: 200px;
border-radius: 15px;
opacity: 80%;
box-sizing: border-box;
text-align: center;
font-family: fantasy;
}

div.box-two{
background-color: green;
padding: 20px;
border: 5px solid burlywood;
margin: 25px;
height: 105px;
width: 200px;
border-radius: 15px;
opacity: 80%;
box-sizing: border-box;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.box-outer{
    width: 600px;
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 5px solid blue;
    box-sizing: border-box;
    border-radius: 15px;
}

div.rectangle-one{
background-color: blueviolet;
padding: 20px;
border: 5px solid burlywood;
margin-top: 600px;
margin: 25px;
margin-left: 200px;
height: 105px;
width: 200px;
border-radius: 15px;
opacity: 80%;
box-sizing: border-box;
text-align: center;
font-family: fantasy;
}

div.rectangle-two{
background-color:red;
padding: 20px;
border: 5px solid burlywood;
margin-top: 600px;
margin: 25px;
margin-left: 400px;
height: 105px;
width: 200px;
border-radius: 15px;
opacity: 80%;
box-sizing: border-box;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.far-out-2{
    box-sizing: border-box;
    border: 5px solid green;
    width: 600px;
    margin-left: 400px;
    border-radius: 15px;
}
div.far-out{
    box-sizing: border-box;
    border: 5px solid black;
    width: 550px;
    margin: 20px;
    border-radius: 15px;
}

div.outer-box{
box-sizing: border-box;
border: 5px solid red;
width: 500px;
margin: 20px;
border-radius: 15px;
}
div.inner-box{
    box-sizing: border-box;
    background-color: aqua;
    border-radius: 15px;
    height: 200px;
    width: 200px;
    border: 5px solid burlywood;
    margin: 20px;
    padding: 20px;
    padding-left: 30px;
}
div.inner-box-2{
    box-sizing: border-box;
    background-color: cadetblue;
    border-radius: 15px;
    height: 200px;
    width: 200px;
    border: 5px solid burlywood;
    margin: 20px;
    padding: 20px;
}
section.boxes, section.boxes-2, .inner-box, .inner-box-2{
    display: inline-flex;
}

body{
    background-color: honeydew;
}
ul{
    color: green;
}
p{
    color: red;
}
div.text{
    display: inline-flex;
}