div.box-one{
background-color: aqua;
padding: 20px;
border: 5px solid burlywood;
margin-left: 55px;
height: 105px;
width: 200px;
border-radius: 15px;
opacity: 80%;
box-sizing: border-box;
text-align: center;
font-family: fantasy;
}

div.box-two{
background-color: green;
padding: 20px;
border: 5px solid burlywood;
height: 105px;
width: 200px;
margin-left: 25px;
border-radius: 15px;
opacity: 80%;
box-sizing: border-box;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.box-outer{
    width: 600px;
    padding: 25px;
    margin: 50px auto 50px auto;
    border: 5px solid blue;
    box-sizing: border-box;
    border-radius: 15px;
}

div.rectangle-one{
background-color: blueviolet;
padding: 20px;
border: 5px solid burlywood;
margin-top: 600px;
margin: 25px;
margin-left: 200px;
height: 105px;
width: 200px;
border-radius: 15px;
opacity: 80%;
box-sizing: border-box;
text-align: center;
font-family: fantasy;
}

div.rectangle-two{
background-color:red;
padding: 20px;
border: 5px solid burlywood;
margin-top: 600px;
margin: 25px;
margin-left: 400px;
height: 105px;
width: 200px;
border-radius: 15px;
opacity: 80%;
box-sizing: border-box;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.far-out-2{
    box-sizing: border-box;
    border: 5px solid green;
    width: 600px;
    margin: 50px auto 50px auto;
    border-radius: 15px;
}
div.far-out{
    box-sizing: border-box;
    border: 5px dotted black;
    width: 550px;
    margin: 20px;
    border-radius: 15px;
}

div.outer-box{
box-sizing: border-box;
border: 5px solid red;
width: 500px;
margin: 20px;
border-radius: 15px;
}
div.inner-box{
    box-sizing: border-box;
    background-color: aqua;
    border-radius: 15px;
    height: 200px;
    width: 200px;
    border: 5px solid burlywood;
    margin: 20px;
    padding: 50px 20px 20px 30px;
    text-align: center;
}
div.inner-box-2{
    box-sizing: border-box;
    background-color: cadetblue;
    border-radius: 15px;
    height: 200px;
    width: 200px;
    border: 5px solid burlywood;
    margin: 20px;
    padding: 50px 20px 20px 25px;  
    text-align: center;
}
.horizontal{
    box-sizing: border-box;
    width: 300px;
    height: 200px;
    margin: 50px auto 50px auto;
    border: 5px solid brown;
}
.horizontal h1{
    color: purple;
    margin: 50px;
    border: 3px solid black;
    padding: 3px;
    text-align: center;
}
#new-box{
    box-sizing: border-box;
    background-color: aquamarine;
    height: 300px;
    width: 300px;
    margin: 50px auto 50px auto;
    border: 5px solid burlywood;
    border-radius: 15px;
    padding: 80px 20px 20px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
section.boxes, section.boxes-2, .inner-box, .inner-box-2{
    display: inline-flex;
}

body{
    background-color: honeydew;
}
ul{
    color: green;
}
p{
    color: red;
}
div.text{
    display: inline-flex;
}