nav{
    display: flex;
    height: 100px;
    background-color: pink;
    border: 2px solid green;
    align-items: flex-end;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.list-two{
    margin-left: auto;
    margin-right: 20px;
}

li{
    color: white;
}

