body{
    box-sizing: border-box;
    background-color: burlywood;
}

.menu-container{
    width: auto;
    height: 100px;
    border-radius: 15px;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.welcome{
    display: flex;
    color: black;
}

.links ul{
    display: flex;
    color: rebeccapurple;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
    gap: 15px;
}
