 nav{
    background-color: burlywood;
    border: 1px solid black;
 }

a{
    color: purple;
    height: auto;
    background-color: green;
    border: 1px solid black;
    border-radius: 5px;
 }

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
 }

 .ally{
 }

 