body{
    background-color: burlywood;
    box-sizing: border-box;
}

.menu-container{
    background-color: plum;
    display: flex;
    width: auto;
    height: 500px;
    display: flex;
}


.left-boxes,
.middle-boxes, 
.right-boxes{
   display: flex;
   flex: 1 1 auto;
}

.middle-boxes{
    gap: 5px;
}


.left-boxes .box-3,
.right-boxes .box-1{
    flex: 2 1 auto;
    flex-shrink: 0;
}

.left-boxes div{
    background-color: blue;
    width: 100px;
    height: 100px;
    border: 1px solid white;
}

.middle-boxes div{
    background-color: black;
    width: 100px;
    height: 100px;
    border: 1px solid white;
}

.right-boxes div{
    background-color: brown;
    width: 100px;
    height: 100px;
    border: 1px solid white;
}

.middle-boxes .box-1,
.middle-boxes .box-3{
    align-self: flex-start;
}

.right-boxes .box-2,
.left-boxes .box-2{
    align-self: center;
}
.right-boxes .box-1{
    align-self: flex-end;
}

.left-boxes,
.right-boxes{
    gap: 5px;
}

.left-boxes,
.right-boxes{
    flex-direction: column;
}









