nav, ul, li, a{
    display: flex;
}

nav{
    border: 2px solid black;
    width: auto;
    height: 100px;
    justify-content: flex-end;
}

ul{
    list-style-type: none;
    gap: 30px;
    flex-direction: row-reverse;
}

a{
    border-radius: 5px;
    background-color: burlywood;

}

.watford{
    align-self: flex-start;
}

.watford-2{
    align-self: center;
}

.watford-3{
    align-self: flex-end;
}