body{
    box-sizing: border-box;
    background-color: green;
}

.containers{
    background-color: rebeccapurple;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
}

.column-1,
.column-2,
.column-3{
    height: 100px;
    width: 25px;
    background-color: aqua;
    border: 2px solid black;
}

.menu-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: auto;
}

.menu-container-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: auto;
}

.menu-container-2 .column-2{
    align-self: flex-start;
}

.menu-container .column-2{
    align-self: flex-end;
}

.menu-container .column-3,
.menu-container-2 .column-3{
    align-self: center;
    flex-grow: 1;
}

.menu-container .column-1{
    align-self: flex-start;
}


.menu-container-2 .column-1{
    align-self: flex-end;
}








